<ul class="main-navigation">
    <li><a href="{{ root_url }}/research">Research</a></li>
  <li><a href="{{ root_url }}/teaching">Teaching</a></li>
  <li><a href="https://www.dropbox.com/s/tettqqy742ce7ui/Murphy_CV.pdf">CV</a></li>
  <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
     <li> &#8211 <a href="{{ root_url }}/blog/categories/theory">theory</a></li>
     <li> &#8211 <a href="{{ root_url }}/blog/categories/social-science">social science</a></li>
     <li> &#8211 <a href="{{ root_url }}/blog/categories/life">life</a></li>
     <li> &#8211 <a href="{{ root_url }}/blog/categories/note">other notes</a></li>
</ul>